<h1>Registrations for <%= link_to @experience.title, @experience %></h1>
<ul class="registrations">
    <% @registrations.each do |r| %>
        <li>
            <%= render "shared/stars", percent: r.stars_as_percent %>
            <p>
                <%= link_to r.user.name, r.user %>
                <span class="date">
                <%= time_ago_in_words(r.created_at) %> ago
                </span>
            </p>
        </li>
    <% end %>
</ul>