<ul>
    <% @experiences.each do |experience| %>
        <li>
            <strong><%= experience.title %> </strong>
            in <%= experience.location %>: <%= number_to_currency(experience.price, precision: 0, unit: "₱") %>
        </li>

    <% end %>
</ul>